
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Fixed top navbar example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
         <link href="~/css/bootstrap.min.css" rel="stylesheet">
         <link href="~/css/NavBar.css" rel="stylesheet">
        




    
    <!-- Custom styles for this template -->
    @*<link href="~/css/navbar-top-fixed.css" rel="stylesheet">*@

  </head>
  <body>


    <style>
        .body-background{
        background-image: url('/images/wave.svg');
                background-color:  #71C549;
        padding: 100px 5% 600px 5%;

        }
        body .body-background .bg-light.colorfondo {
            background-color: transparent !important;
        }
 
       

     </style>
  
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark nav-background">
  <div class="container-fluid div-background">
    <a class="navbar-brand" ><img src="~/images/logo.png" style="height:15%; width:15%;"/></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
     
          <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Index">Home</a>
                        </li>
                       
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Tablas" asp-action="Index">Pruebas</a>
                        </li>
                             <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="PartidaConTabla" asp-action="Jugar">Partida</a>
                        </li>
                         </li>
                             <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Estadisticas" asp-action="VerPartidas">Estadísticas partidas</a>
                        </li>
                            
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Estadisticas" asp-action="VerJugadas">Estadísticas jugadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" asp-area="" asp-controller="Usuarios" asp-action="Crud">Usuarios</a>
                    </li>
           </ul>



     @* <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>*@
    </div>
  </div>
</nav>


<main class="body-background">
  <div class="bg-light p-3 colorfondo">
    @RenderBody()
@*    <p>Pie de página</p>*@
  </div>
</main>


    



    <script src="~/js/jquery-3.6.3.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
      
    @RenderSection("scripts", false)
  </body>

</html>


  