@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int id = 0;
}

<h1>
<h1>Tablas</h1>


  <a class="nav-link text-dark" asp-area="" asp-controller="Tablas" asp-action="GetTabla">Ver tablas</a>
  <a class="nav-link text-dark" asp-area="" asp-controller="Tablas" asp-action="JugarPartidaConTabla">Jugar Partida con tablas</a>
   @* @Html.ActionLink("GetTabla", "GetTabla", "Tablas", new{id= })*@
    