

@{
    var i = 1;
    var y = 1;

    var id = 0;
}



<!doctype html>
<html lang="en">
  <head>
   
    <!-- Bootstrap core CSS -->
         <link href="~/css/bootstrap.min.css" rel="stylesheet">
         <link href="~/css/NavBar.css" rel="stylesheet">





    
    <!-- Custom styles for this template -->
    <link href="~/css/navbar-top-fixed.css" rel="stylesheet">
  </head>
  <body>


<button onclick="iniciarPartida()" class="btn btn-danger" id="botonInicio">Iniciar partida</button>

<div id="divPartida" style="display:none" class="container"   >


 <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">PARTIDA</h1>
        @*<p class="lead text-muted">وصف قصير حول الألبوم أدناه (محتوياته ، ومنشؤه ، وما إلى ذلك). اجعله قصير ولطيف، ولكن ليست قصير جدًا حتى لا يتخطى الناس هذا الألبوم تمامًا.</p>
        <p>
          <a href="#" class="btn btn-primary my-2" onclick="iniciarRonda()" id="botonRonda">Iniciar ronda</a>
          <a href="#" class="btn btn-secondary my-2">عمل ثانوي</a>*@
        </p>
      </div>
    </div>
  </section>

 

  <div class="album py-5 bg-light" style="display:none" id="divJugadas">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="divRondas">


        <div class="col" style="display:none">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: صورة مصغرة" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">صورة مصغرة</text></svg>

            <div class="card-body">
              <p class="card-text">Ronda </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">عرض</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">تعديل</button>
                </div>
                <small class="text-muted">9 دقائق</small>
              </div>
            </div>
          </div>
        </div>
      
     

  
   

        

      
        
       
      </div>
    </div>
  </div>

</main>


</div>


<div id="dropdowns" >

    <br />
    <br />
    <br />


<div class="btn-group" id="dInicial" >
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Seleccione una condición
  </button>
  <ul class="dropdown-menu">
    
    <li><hr class="dropdown-divider"></li>
    <li><a id="BBvsLimp"  class="dropdown-item" href="#">BB vs Limp</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a  id="DefendBB"  class="dropdown-item" href="#">Defend BB</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="Flat3B"  class="dropdown-item" href="#">Flat + 3B</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="SQZ"  class="dropdown-item" href="#">SQZ + CCMW</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="OS"  class="dropdown-item" href="#">OS</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="OR"  class="dropdown-item" href="#">OR</a></li>
     <li><hr class="dropdown-divider"></li>
    <li><a id="Reshove"  class="dropdown-item" href="#">Reshove</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="vsOS"  class="dropdown-item" href="#">vs OS</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a id="SBLimpia"  class="dropdown-item" href="#">SB Limpia</a></li>
     <li><hr class="dropdown-divider"></li>
    <li><a id="Vs3BET"  class="dropdown-item" href="#">vs 3Bet</a></li> 
  </ul>
</div>



 



<div class="btn-group" id="dBBvsLimp" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    BBvsLimp
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" name="id"  id="1" href="#">100BB</a></li>
    <li><a class="dropdown-item" name="id"   id="2" href="#">50BB</a></li>
    <li><a class="dropdown-item" name="id"  id="3" href="#">30BB</a></li>
     <li><a class="dropdown-item" name="id"   id="4" href="#">20BB</a></li>
    <li><a class="dropdown-item"  name="id"  id="5" href="#">15BB</a></li>
  </ul>
</div>


<div class="btn-group" id="dDefendBB" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Defend BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="DefendBB_100BB" href="#">100BB</a></li>
    <li><a class="dropdown-item" id="DefendBB_50BB"  href="#">50BB</a></li>
    <li><a class="dropdown-item" id="DefendBB_30BB"   href="#">30BB</a></li>
     <li><a class="dropdown-item" id="DefendBB_20BB"   href="#">20BB</a></li>
    <li><a class="dropdown-item" id="DefendBB_15BB"   href="#">15BB</a></li>
  </ul>
</div>





<div class="btn-group" id="dDefendBB_100BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    100BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="6" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item"  id="7" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item"   id="8" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item"  id="9" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item"   id="10" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item"  id="11" href="#">BB vs SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dDefendBB_50BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    50BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="12" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item"  id="13" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item"   id="14" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item"   id="15" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item"   id="16" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item"   id="17" href="#">BB vs SB</a></li>
  </ul>
</div>


<div class="btn-group" id="dDefendBB_30BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    30BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="18" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item"  id="19" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item"  id="20" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item"  id="21" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item"  id="22" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item"  id="23" href="#">BB vs SB</a></li>
  </ul>
</div>

 <div class="btn-group" id="dDefendBB_20BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    20BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="24" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item"  id="25" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item"   id="26" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item"  id="27" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item"  id="28" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item"   id="29" href="#">BB vs SB</a></li>
  </ul>
</div>
 
 <div class="btn-group" id="dDefendBB_15BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    15BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="30" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item"  id="31" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item"   id="32" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item"   id="33" href="#">BB vs CO</a></li>
    <li><a class="dropdown-item"   id="34" href="#">BB vs BTN</a></li>
      <li><a class="dropdown-item"   id="35" href="#">BB vs SB</a></li>
  </ul>
</div>
 


<div class="btn-group" id="dFlat3B" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat+3B
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="Flat3B_100BB" href="#">100BB</a></li>
    <li><a class="dropdown-item" id="Flat3B_50BB"  href="#">50BB</a></li>
    <li><a class="dropdown-item" id="Flat3B_30BB"   href="#">30BB</a></li>
     <li><a class="dropdown-item" id="Flat3B_20BB"   href="#">20BB</a></li>
  </ul>
</div>


<div class="btn-group" id="dFlat3B_100BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 100BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="Flat3B_100BBSB"  href="#">SB</a></li>
    <li><a class="dropdown-item" id="Flat3B_100BBBTN"   href="#">BTN</a></li>
    <li><a class="dropdown-item" id="Flat3B_100BBCO"  href="#">CO</a></li>
     <li><a class="dropdown-item" id="Flat3B_100BBHJ"   href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="36" href="#">MP</a></li>
      <li><a class="dropdown-item"   id="37" href="#">EP</a></li>
  </ul>
</div>

<div class="btn-group" id="dFlat3B_100BBSB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 100BB SB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="38" href="#">BB vs EP</a></li>
    <li><a class="dropdown-item"   id="39" href="#">BB vs MP</a></li>
    <li><a class="dropdown-item"   id="40" href="#">BB vs HJ</a></li>
     <li><a class="dropdown-item"  id="41"  href="#">BB vs CO</a></li>

  </ul>
</div>

<div class="btn-group" id="dFlat3B_100BBBTN" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 100BB BTN
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="42" href="#">BTN vs EP</a></li>
    <li><a class="dropdown-item"   id="43" href="#">BTN vs HJ</a></li>
    <li><a class="dropdown-item"   id="4400" href="#">BTN vs CO</a></li>
  </ul>
</div>

<div class="btn-group" id="dFlat3B_100BBCO" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 100BB CO
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="45" href="#">CO vs EP</a></li>
    <li><a class="dropdown-item"   id="46" href="#">CO vs HJ</a></li>
  </ul>
</div>


<div class="btn-group" id="dFlat3B_100BBHJ" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
     Flat 100BB HJ
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="47" href="#">HJ vs EP</a></li>
    <li><a class="dropdown-item"   id="48" href="#">HJ-MP</a></li>
  </ul>
</div>






<div class="btn-group" id="dFlat3B_50BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 50BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="Flat3B_50BBSB"  href="#">SB</a></li>
    <li><a class="dropdown-item" id="Flat3B_50BBBTN"   href="#">BTN</a></li>
    <li><a class="dropdown-item" id="Flat3B_50BBCO"  href="#">CO</a></li>
     <li><a class="dropdown-item" id="Flat3B_50BBHJ"   href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="49" href="#">MP</a></li>
      <li><a class="dropdown-item"   id="50" href="#">EP</a></li>
  </ul>
</div>


<div class="btn-group" id="dFlat3B_50BBSB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 50BB SB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="51" href="#">SB vs EP</a></li>
    <li><a class="dropdown-item"   id="52" href="#">SB vs HJ</a></li>
    <li><a class="dropdown-item"   id="53" href="#">SB vs CO</a></li>
      <li><a class="dropdown-item"   id="54" href="#">SB vs BTN</a></li>
  </ul>
</div>

<div class="btn-group" id="dFlat3B_50BBBTN" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 50BB BTN
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="5500" href="#">BTN vs EP</a></li>
    <li><a class="dropdown-item"   id="56" href="#">BTN vs HJ</a></li>
    <li><a class="dropdown-item"   id="57" href="#">BTN vs CO</a></li>
  </ul>
</div>

<div class="btn-group" id="dFlat3B_50BBCO" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 50BB CO
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="58" href="#">CO vs EP</a></li>
    <li><a class="dropdown-item"   id="59" href="#">CO vs HJ</a></li>
  </ul>
</div>

<div class="btn-group" id="dFlat3B_50BBHJ" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 50BB HJ
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="60" href="#">HJ vs EP</a></li>
    <li><a class="dropdown-item"   id="61" href="#">HJ-MP</a></li>
  </ul>
</div>




<div class="btn-group" id="dFlat3B_30BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 30BB 
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="Flat3B_30BBSB" href="#">SB</a></li>
    <li><a class="dropdown-item"   id="Flat3B_30BBBTN" href="#">BTN</a></li>
    <li><a class="dropdown-item"  id="Flat3B_30BBCO" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="Flat3B_30BBHJ" href="#">HJ</a></li>
    <li><a class="dropdown-item"   id="62" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="63" href="#">EP</a></li>
  </ul>
</div>


<div class="btn-group" id="dFlat3B_30BBSB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 30BB SB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="64" href="#">SB vs EP</a></li>
    <li><a class="dropdown-item"   id="65" href="#">SB vs HJ</a></li>
    <li><a class="dropdown-item"  id="6600" href="#">SB vs CO</a></li>
    <li><a class="dropdown-item"   id="67" href="#">SB vs BTN</a></li>

  </ul>
</div>

<div class="btn-group" id="dFlat3B_30BBBTN" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 30BB BTN
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="68" href="#">BTN vs EP</a></li>
    <li><a class="dropdown-item"   id="69" href="#">BTN vs HJ</a></li>
    <li><a class="dropdown-item"  id="70" href="#">BTN vs CO</a></li>

  </ul>
</div>

<div class="btn-group" id="dFlat3B_30BBCO" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 30BB CO
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="71" href="#">CO vs EP</a></li>
    <li><a class="dropdown-item"   id="72" href="#">CO vs HJ</a></li>
  </ul>
</div>


<div class="btn-group" id="dFlat3B_30BBHJ" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 30BB HJ
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="73" href="#">HJ vs EP</a></li>
    <li><a class="dropdown-item"   id="74" href="#">HJ-MP</a></li>
  </ul>
</div>




<div class="btn-group" id="dFlat3B_20BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 20BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="Flat3B_20BBSB"  href="#">SB</a></li>
    <li><a class="dropdown-item" id="Flat3B_20BBBTN"   href="#">BTN</a></li>
    <li><a class="dropdown-item" id="Flat3B_20BBCO"  href="#">CO</a></li>
     <li><a class="dropdown-item" id="Flat3B_20BBHJ"   href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="75" href="#">MP</a></li>
      <li><a class="dropdown-item"   id="76" href="#">EP</a></li>
  </ul>
</div>

<div class="btn-group" id="dFlat3B_20BBSB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 20BB SB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="7700" href="#">SB vs EP</a></li>
    <li><a class="dropdown-item"   id="78" href="#">SB vs MP</a></li>
    <li><a class="dropdown-item"  id="79" href="#">SB vs HJ</a></li>
    <li><a class="dropdown-item"   id="80" href="#">SB vs CO</a></li>
    <li><a class="dropdown-item"   id="81" href="#">SB vs BTN</a></li>
  </ul>
</div>

<div class="btn-group" id="dFlat3B_20BBBTN" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 20BB BTN
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="82" href="#">BTN vs EP</a></li>
    <li><a class="dropdown-item"   id="83" href="#">BTN vs MP</a></li>
    <li><a class="dropdown-item"  id="84" href="#">BTN vs HJ</a></li>
    <li><a class="dropdown-item"   id="85" href="#">BTN vs CO</a></li>

  </ul>
</div>

<div class="btn-group" id="dFlat3B_20BBCO" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 20BB CO
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="86" href="#">CO vs EP</a></li>
    <li><a class="dropdown-item"   id="87" href="#">CO vs HJ</a></li>
  </ul>
</div>

<div class="btn-group" id="dFlat3B_20BBHJ" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Flat 20BB HJ
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="8800" href="#">HJ vs EP</a></li>
    <li><a class="dropdown-item"   id="89" href="#">HJ-MP</a></li>
  </ul>
</div>





<div class="btn-group" id="dSQZ" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="SQZ_100BB" href="#">100BB</a></li>
    <li><a class="dropdown-item"   id="SQZ_50BB" href="#">50BB</a></li>
    <li><a class="dropdown-item"  id="SQZ_30BB" href="#">30BB</a></li>
    <li><a class="dropdown-item"   id="SQZ_20BB" href="#">20BB</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_100BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 100BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="SQZ_100BBBB" href="#">BB</a></li>
    <li><a class="dropdown-item"   id="SQZ_100BBSB" href="#">SB</a></li>
    <li><a class="dropdown-item"  id="SQZ_100BBBTN" href="#">BTN</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_100BBBB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 100BB BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="90" href="#">BB vs BTN&SB</a></li>
    <li><a class="dropdown-item"   id="91" href="#">BB vs HJ+BTN-CO</a></li>
    <li><a class="dropdown-item"  id="92" href="#">BB vs EP+LP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_100BBSB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 100BB SB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"   id="93" href="#">SB vs HJ+BTN-CO</a></li>
    <li><a class="dropdown-item"  id="94" href="#">SB vs EP+MP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_100BBBTN" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 100BB BTN
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"   id="95" href="#">BTN vs EP+MP</a></li>
    <li><a class="dropdown-item"  id="96" href="#">BTN vs LP+LP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_50BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 50BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="SQZ_50BBBB" href="#">BB</a></li>
    <li><a class="dropdown-item"   id="SQZ_50BBSB" href="#">SB</a></li>
    <li><a class="dropdown-item"  id="SQZ_50BBBTN" href="#">BTN</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_50BBBB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 50BB BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="97" href="#">BB vs BTN&SB</a></li>
    <li><a class="dropdown-item"   id="98" href="#">BB vs HJ+BTN-CO</a></li>
    <li><a class="dropdown-item"  id="9900" href="#">BB vs EP+LP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_50BBSB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 50BB SB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"   id="100" href="#">SB vs HJ+BTN-CO</a></li>
    <li><a class="dropdown-item"  id="10100" href="#">SB vs EP+MP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_50BBBTN" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 50BB BTN
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"   id="102" href="#">BTN vs EP+MP</a></li>
    <li><a class="dropdown-item"  id="103" href="#">BTN vs LP+LP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_30BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 30BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="SQZ_30BBBB" href="#">BB</a></li>
    <li><a class="dropdown-item"   id="SQZ_30BBSB" href="#">SB</a></li>
    <li><a class="dropdown-item"  id="SQZ_30BBBTN" href="#">BTN</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_30BBBB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 30BB BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="104" href="#">BB vs BTN&SB</a></li>
    <li><a class="dropdown-item"   id="105" href="#">BB vs HJ+BTN-CO</a></li>
    <li><a class="dropdown-item"  id="106" href="#">BB vs EP+LP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_30BBSB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 30BB SB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"   id="107" href="#">SB vs HJ+BTN-CO</a></li>
    <li><a class="dropdown-item"  id="108" href="#">SB vs EP+MP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_30BBBTN" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 30BB BTN
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"   id="109" href="#">BTN vs EP+MP</a></li>
    <li><a class="dropdown-item"  id="110" href="#">BTN vs LP+LP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_20BB" style="display:none">
  <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 20BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="SQZ_20BBBB" href="#">BB</a></li>
    <li><a class="dropdown-item"   id="SQZ_20BBSB" href="#">SB</a></li>
    <li><a class="dropdown-item"  id="SQZ_20BBBTN" href="#">BTN</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_20BBBB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 20BB BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="11100" href="#">BB vs BTN&SB</a></li>
    <li><a class="dropdown-item"   id="112" href="#">BB vs HJ+BTN-CO</a></li>
    <li><a class="dropdown-item"  id="113" href="#">BB vs EP+LP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_20BBSB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 20BB SB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"   id="114" href="#">SB vs HJ+BTN-CO</a></li>
    <li><a class="dropdown-item"  id="115" href="#">SB vs EP+MP</a></li>
  </ul>
</div>

<div class="btn-group" id="dSQZ_20BBBTN" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    SQZ 20BB BTN
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"   id="116" href="#">BTN vs EP+MP</a></li>
    <li><a class="dropdown-item"  id="117" href="#">BTN vs LP+LP</a></li>
  </ul>
</div>


<div class="btn-group" id="dOS" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="OS_15BB"  href="#">15 BB</a></li>
    <li><a class="dropdown-item" id="OS_14BB"   href="#">14 BB</a></li>
    <li><a class="dropdown-item" id="OS_13BB"  href="#">13 BB</a></li>
     <li><a class="dropdown-item" id="OS_12BB"   href="#">12 BB</a></li>
     <li><a class="dropdown-item" id="OS_11BB"  href="#">11 BB</a></li>
    <li><a class="dropdown-item" id="OS_10BB"   href="#">10 BB</a></li>
    <li><a class="dropdown-item" id="OS_9BB"  href="#">9 BB</a></li>
     <li><a class="dropdown-item" id="OS_8BB"   href="#">8 BB</a></li>
     <li><a class="dropdown-item" id="OS_7BB"  href="#">7 BB</a></li>
     <li><a class="dropdown-item" id="OS_6BB"   href="#">6 BB</a></li>
     <li><a class="dropdown-item" id="OS_5BB"   href="#">5 BB</a></li>
  </ul>
</div>


<div class="btn-group" id="dOS_15BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 15BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="118" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="119" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="120" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="12100" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="122" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="123" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="124" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="125" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_14BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 14BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="126" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="127" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="128" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="129" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="130" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="13100" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="132" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="133" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_13BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 13BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="134" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="135" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="136" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="137" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="138" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="139" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="140" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="14100" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_12BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 12BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="142" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="143" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="144" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="145" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="146" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="147" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="148" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="149" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_11BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 11BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="150" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="15100" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="152" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="153" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="154" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="155" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="156" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="157" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_10BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 10BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="158" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="159" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="160" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="16100" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="162" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="163" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="164" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="165" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_9BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 9BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="166" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="167" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="168" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="169" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="170" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="17100" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="172" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="173" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_8BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 8BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="174" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="175" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="176" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="177" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="178" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="179" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="180" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="18100" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_7BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 7BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="182" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="183" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="184" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="185" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="186" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="187" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="188" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="189" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_6BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 6BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="190" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="19100" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="192" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="193" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="194" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="195" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="196" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="197" href="#">SB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOS_5BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OS 5BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="198" href="#">UTG</a></li>
    <li><a class="dropdown-item"   id="199" href="#">UTG1</a></li>
    <li><a class="dropdown-item"  id="200" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="201" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="20200" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="203" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="204" href="#">BTN</a></li>
    <li><a class="dropdown-item"   id="205" href="#">SB</a></li>
  </ul>
</div>


<div class="btn-group" id="dOR" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OR
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="OR_10025BB"  href="#">100-25BB</a></li>
    <li><a class="dropdown-item" id="OR_15BB"   href="#">15 BB</a></li>
  </ul>
</div>


<div class="btn-group" id="dOR_10025BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OR 100-25BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="206" href="#">100BB</a></li>
    <li><a class="dropdown-item"   id="207" href="#">50BB</a></li>
    <li><a class="dropdown-item"  id="208" href="#">25BB</a></li>
  </ul>
</div>

<div class="btn-group" id="dOR_15BB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    OR 15BB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="209" href="#">UTG</a></li>
    <li><a class="dropdown-item"  id="210" href="#">MP</a></li>
    <li><a class="dropdown-item"   id="2110" href="#">LJ</a></li>
    <li><a class="dropdown-item"   id="21200" href="#">HJ</a></li>
    <li><a class="dropdown-item"  id="213" href="#">CO</a></li>
    <li><a class="dropdown-item"   id="214" href="#">BU</a></li>
  </ul>
</div>


<div class="btn-group" id="dReshove" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Reshove
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="Reshove_SB"  href="#">SB</a></li>
    <li><a class="dropdown-item" id="Reshove_BTN"   href="#">BTN</a></li>
    <li><a class="dropdown-item" id="Reshove_HJ-CO"  href="#">HJ-CO</a></li>
     <li><a class="dropdown-item" id="Reshove_MP"   href="#">MP</a></li>
     <li><a class="dropdown-item" id="Reshove_EP"  href="#">EP</a></li>
  </ul>
</div>

<div class="btn-group" id="dReshove_SB" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
 Reshove SB
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="217" href="#">SB vs EP</a></li>
    <li><a class="dropdown-item"  id="218" href="#">SB vs MP</a></li>
    <li><a class="dropdown-item"   id="219" href="#">SB vs CO</a></li>
    <li><a class="dropdown-item"   id="220" href="#">SB vs BTN</a></li>
  </ul>
</div>

<div class="btn-group" id="dReshove_BTN" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
 Reshove BTN
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="221" href="#">BTN vs EP</a></li>
    <li><a class="dropdown-item"  id="22200" href="#">BTN vs MP</a></li>
    <li><a class="dropdown-item"   id="223" href="#">BTN vs CO</a></li>
  </ul>
</div>

<div class="btn-group" id="dReshove_HJ-CO" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
 Reshove HJ-CO
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="224" href="#">HJ vs EP</a></li>
    <li><a class="dropdown-item"  id="225" href="#">HJ vs MP</a></li>
    <li><a class="dropdown-item"   id="226" href="#">HJ vs CO</a></li>
  </ul>
</div>


@*Esto son tablas de imagen*@
<div class="btn-group" id="dvsOS" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    VS OS
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="vsOS20BB"  href="#">20BB</a></li>
    <li><a class="dropdown-item" id="vsOS18BB"   href="#">18BB</a></li>
    <li><a class="dropdown-item" id="vsOS16BB"  href="#">16BB</a></li>
     <li><a class="dropdown-item" id="vsOS14BB"   href="#">14BB</a></li>
     <li><a class="dropdown-item" id="vsOS12BB"  href="#">12BB</a></li>
    <li><a class="dropdown-item" id="vsOS10BB"   href="#">10BB</a></li>
    <li><a class="dropdown-item" id="vsOS8BB"  href="#">8BB</a></li>
     <li><a class="dropdown-item" id="vsOS6BB"   href="#">6BB</a></li>
  </ul>
</div>


<div class="btn-group" id="dSBLimpia" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
SB Limpia
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="227" href="#">HJ vs EP</a></li>
    <li><a class="dropdown-item"  id="228" href="#">HJ vs MP</a></li>
    <li><a class="dropdown-item"   id="229" href="#">HJ vs CO</a></li>
    <li><a class="dropdown-item"  id="230" href="#">HJ vs MP</a></li>
    <li><a class="dropdown-item"   id="231" href="#">HJ vs CO</a></li>
  </ul>
</div>



<div class="btn-group" id="dVs3BET" style="display:none">
  <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    VS 3BET
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" id="Vs3BET_100BBIP"  href="#">15BB</a></li>
    <li><a class="dropdown-item" id="Vs3BET_100BBOOP"   href="#">14BB</a></li>
    <li><a class="dropdown-item" id="Vs3BET_50BBIP"  href="#">13BB</a></li>
     <li><a class="dropdown-item" id="Vs3BET_50BBOOP"   href="#">12BB</a></li>
     <li><a class="dropdown-item" id="Vs3BET_3525BBIP"  href="#">11BB</a></li>
    <li><a class="dropdown-item" id="Vs3BET_3525BBOOP"   href="#">10BB</a></li>
  </ul>
</div>


<div class="btn-group" id="dVs3BET_100BBIP" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
VS 3BET 100BBIP
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="23200" href="#">vs 13+%</a></li>
    <li><a class="dropdown-item"  id="233" href="#">vs 8-11%</a></li>
    <li><a class="dropdown-item"   id="234" href="#">vs 4-6%</a></li>
  </ul>
</div>


<div class="btn-group" id="dVs3BET_100BBOOP" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
VS 3BET 100BBOP
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="235" href="#">vs 13+%</a></li>
    <li><a class="dropdown-item"  id="236" href="#">vs 8-11%</a></li>
    <li><a class="dropdown-item"   id="237" href="#">vs 4-6%</a></li>
  </ul>
</div>

<div class="btn-group" id="dVs3BET_50BBIP" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
VS 3BET 50BBIP
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="238" href="#">vs 13+%</a></li>
    <li><a class="dropdown-item"  id="239" href="#">vs 8-11%</a></li>
    <li><a class="dropdown-item"   id="240" href="#">vs 4-6%</a></li>
  </ul>
</div>

<div class="btn-group" id="dVs3BET_50BBOOP" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
VS 3BET 50BBOP
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="241" href="#">vs 13+%</a></li>
    <li><a class="dropdown-item"  id="24200" href="#">vs 8-11%</a></li>
    <li><a class="dropdown-item"   id="243" href="#">vs 4-6%</a></li>
  </ul>
</div>


<div class="btn-group" id="dVs3BET_3525BBIP" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
VS 3BET 35-25BBIP
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="244" href="#">vs 13+%</a></li>
    <li><a class="dropdown-item"  id="245" href="#">vs 8-11%</a></li>
    <li><a class="dropdown-item"   id="246" href="#">vs 4-6%</a></li>
  </ul>
</div>


<div class="btn-group" id="dVs3BET_3525BBOOP" style="display:none">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
VS 3BET 35-25BBOP
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item"  id="247" href="#">vs 13+%</a></li>
    <li><a class="dropdown-item"  id="248" href="#">vs 8-11%</a></li>
    <li><a class="dropdown-item"   id="249" href="#">vs 4-6%</a></li>
  </ul>
</div>


</div>

<br />
<table id="tabla" class="table table-bordered">
    <thead></thead>
    <tbody>
        <tr><th>AA</th> <th>AKs</th> <th>AQs</th> <th>AJs</th> <th>ATs</th> <th>A9s</th> <th>A8s</th> <th>A7s</th> <th>A6s</th> <th>A5s</th> <th>A4s</th> <th>A3s</th> <th>A2s</th></tr>
        <tr><th>AKo</th> <th>KK</th> <th>KQs</th> <th>KJs</th> <th>KTs</th> <th>K9s</th> <th>K8s</th> <th>K7s</th> <th>K6s</th> <th>K5s</th> <th>K4s</th> <th>K3s</th> <th>K2s</th></tr>
        <tr><th>AQo</th> <th>KQo</th> <th>QQ</th> <th>QJs</th> <th>QTs</th> <th>Q9s</th> <th>Q8s</th> <th>Q7s</th> <th>Q6s</th> <th>Q5s</th> <th>Q4s</th> <th>Q3s</th> <th>Q2s</th></tr>
        <tr><th>AJo</th> <th>KJo</th> <th>QJo</th> <th>JJ</th> <th>JTs</th> <th>J9s</th> <th>J8s</th> <th>J7s</th> <th>J6s</th> <th>J5s</th> <th>J4s</th> <th>J3s</th> <th>J2s</th></tr>
        <tr><th>ATo</th> <th>KTo</th> <th>QTo</th> <th>JTo</th> <th>TT</th> <th>T9s</th> <th>T8s</th> <th>T7s</th> <th>T6s</th> <th>T5s</th> <th>T4s</th> <th>T3s</th> <th>T2s</th></tr>
        <tr><th>A9o</th> <th>K9o</th> <th>Q9o</th> <th>J9o</th> <th>T9o</th> <th>99</th> <th>98s</th> <th>97s</th> <th>96s</th> <th>95s</th> <th>94s</th> <th>93s</th> <th>92s</th></tr>
        <tr><th>A8o</th> <th>K8o</th> <th>Q8o</th> <th>J8o</th> <th>T8o</th> <th>98o</th> <th>88</th> <th>87s</th> <th>86s</th> <th>85s</th> <th>84s</th> <th>83s</th> <th>82s</th></tr>
        <tr><th>A7o</th> <th>K7o</th> <th>Q7o</th> <th>J7o</th> <th>T7o</th> <th>97o</th> <th>87o</th> <th>77</th> <th>76s</th> <th>75s</th> <th>74s</th> <th>73s</th> <th>72s</th></tr>
        <tr><th>A6o</th> <th>K6o</th> <th>Q6o</th> <th>J6o</th> <th>T6o</th> <th>96o</th> <th>86o</th> <th>76o</th> <th>66</th> <th>65s</th> <th>64s</th> <th>63s</th> <th>62s</th></tr>
        <tr><th>A5o</th> <th>K5o</th> <th>Q5o</th> <th>J5o</th> <th>T5o</th> <th>95o</th> <th>85o</th> <th>75o</th> <th>65o</th> <th>55</th> <th>54s</th> <th>53s</th> <th>52s</th></tr>
        <tr><th>A4o</th> <th>K4o</th> <th>Q4o</th> <th>J4o</th> <th>T4o</th> <th>94o</th> <th>84o</th> <th>74o</th> <th>64o</th> <th>54o</th> <th>44</th> <th>43s</th> <th>42s</th></tr>
        <tr><th>A3o</th> <th>K3o</th> <th>Q3o</th> <th>J3o</th> <th>T3o</th> <th>93o</th> <th>83o</th> <th>73o</th> <th>63o</th> <th>53o</th> <th>43o</th> <th>33</th> <th>32s</th></tr>
        <tr><th>A2o</th> <th>K2o</th> <th>Q2o</th> <th>J2o</th> <th>T2o</th> <th>92o</th> <th>82o</th> <th>72o</th> <th>62o</th> <th>52o</th> <th>42o</th> <th>32o</th> <th>22</th></tr>
    </tbody>
</table>








<form method="post">
 
<input id="demo" name="id"   class="form-control" style="display:none">

</form>













</body>

@section scripts { 
<script>
var jugadaSeleccionada = false;
 var idRondaActual = 0; 
 var idJugadaActual = 0;
$(document).ready(function() {

    

 // initialize the current ID to 0
  $("#botonInicio").click(function() {


    // increment the current ID for each new card
    idRondaActual++;
    
    // create the HTML for the card with the dynamic ID
    var cardHtml = '<div class="col">' +
      '<div class="card shadow-sm" id="dRonda' + idRondaActual + '">' +
    
      '<svg class="bd-placeholder-img card-img-top" width="800" height="225"  role="img" aria-label="Placeholder: Jugadas" preserveAspectRatio="xMidYMid slice" focusable="false">' +
      '<title>Placeholder</title>' +
      '<rect width="100%" height="100%" fill="#55595c"/>' +
      '<text x="50%" y="50%" fill="#eceeef" dy=".3em" id="dJugadasPintadas'+idRondaActual+'"></text>' +
      '</svg>' +
     
      '<div class="card-body" id="dJugadas'+idRondaActual+'">' +'</div>' +
      '<p class="card-text">Ronda'+ idRondaActual+'</p>' +
      '<div class="d-flex justify-content-between align-items-center">' +
      '<div class="btn-group">' +
     '<button type="button" class="btn btn-sm btn-outline-secondary iniciarJugada" width="50%" id="bRonda'+idRondaActual+'">Nueva jugada</button>' +
     '<button type="button" class="btn btn-sm btn-outline-secondary" width="50%" id="bFinal'+idRondaActual+' onclick="iniciarRonda()"">Finalizar ronda</button>'+
      '</div>' +

      '</div>' +
      
      '</div>' +
      '</div>';
    
    // append the card HTML to the "divRondas" div
    $("#divRondas").append(cardHtml);

     

   
    $("#dropdowns").attr("readonly", false); 
     

    //$("#no_of_staff").attr("readonly", true); 
     



  });


  $(document).on("click", ".iniciarJugada", iniciarJugada);
});




function iniciarJugada() {
  document.getElementById('dropdowns').style.display = "inline-block";
  // get the current ID for the round
  //var idRondaActual = $(this).attr('id').substring(1);
    idJugadaActual++;
  
  // create the HTML for the new div
  var divHtml = '<div class="jugada" id="dJugada' + idJugadaActual + '">' +
   '<p class="card-text">Jugada'+ idJugadaActual+'</p>' +
       '<p class="card-text">Seleccione una condición de partida y una mano a jugar de las tablas</p>'+
      '<div class="form-check">'+
      '<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">'+
      '<label class="form-check-label" for="flexRadioDefault1">Sí</label>'+
      '</div>'+
      '<div class="form-check">'+
      '<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>'+
      '<label class="form-check-label" for="flexRadioDefault2">No</label>'+

      '</select>' +

      '<input type="number" class="form-control" name="numero" placeholder="Ingrese una cantidad a apostar">' +
      '<button type="button" class="btn btn-warning" id="bJugada'+idJugadaActual+'">JUGAR</button>' +
      '</div>';
  
  // append the new div to the "dJugadas" div for the current round
  $("#dJugadas" + idRondaActual).append(divHtml);
}



//      <div class="form-check">
//  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
//  <label class="form-check-label" for="flexRadioDefault1">
//    Default radio
//  </label>
//</div>
//<div class="form-check">
//  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
//  <label class="form-check-label" for="flexRadioDefault2">
//    Default checked radio
//  </label>
//</div>


$('ul.dropdown-menu a').click(function() {
    id=$(this).attr('id');
         var divsAMostrar=[];
    //var nombre = $(this).attr('name');


    if ($.isNumeric(id)  ) {
        


       let $container = document.getElementById("demo");
         $container.setAttribute("type", "text");
          $container.setAttribute("value", id);

        //const formData = new FormData(document.getElementById('form1'));

        //formData.append("mappingPorts", JSON.stringify(id));

        //// send the form data to the server using AJAX
        //const xhr = new XMLHttpRequest();
        //xhr.open('post', '/Tablas/JugarPartidaConTabla');
        //xhr.send(formData);


           //var datos = {
           //     id: id
           // };

         
          $.ajax({
              url: '/Tablas/JugarPartidaConTabla?id='+id,
              type: 'POST',
              async: false,
              //data: datos,
              success: function(data) {
               // alert(data);
                var tabla = document.getElementById("tabla");           
                var z = 0;
                var html = "";
                  var primeraFila = false;
                $("#tabla tbody").empty();
                 //RECORREMOS LOS DATOS
                $.each(data, function(index, celda ) {

                    //var nodopadre = $(this).parent();
                    //var background_color = $(nodopadre).attr("Background_color");
                    //var table_id = $(nodopadre).find("Table_id").text();
                    //var cell_id = $(nodopadre).find("Cell_id").text();
                    //var text_color = $(nodopadre).find("Text_color").text();

                    if (z == 0) {
                        html += "<tr>";
                    }
                    //html += "<td style='background-color:"+celda.background_color+"; color:"+celda.text_color+";'  id='"+celda.cell_id+"' value='"+celda.table_id+"'>"+celda.cell_id + "</td>";
                  
                    html += "<td style='background-color:"+celda.background_color+"; color:"+celda.text_color+";' id='"+celda.id_celda+"' value='"+celda.id_celda+"'>"+"<button id='boton' style='background-color:"+celda.background_color+"; color:"+celda.text_color+"; font-weight:500; border: none;' onclick='botonSeleccionado("+celda.table_id+ ",\""+celda.id_celda+"\")'>"+celda.id_celda+"</button>"+"</td>";

                   // html += "<td style='background-color:"+celda.background_color+"; color:"+celda.text_color+";'  id='"+celda.id_celda+"' value='"+celda.id_celda+"'>"+"<button id='boton' style='background-color:"+celda.background_color+"; color:"+celda.text_color+"; font-weight:500; border: none;' onclick='botonSeleccionado("+celda.table_id+ ","+celda.id_celda+")'>"+celda.id_celda+"</button>"+"</td>";
                    
                    
                    
                    
                    if(z==12 && primeraFila==false){
                         html += "</tr>";
                        primeraFila = true;
                         z = 0;
                    }
                    
                    if (z == 13) {
                        html += "</tr>";
                        z = 0;
                    }
                    

                    z++;


                        //<button style="background-color: celda.Background_color; color:celda.Color; font-weight:500; border: none;">celda.Cell_id</button>  

           

        });

        $("#tabla tbody").html(html);


              
            }});
          
    }else{
       // alert("hola");
       
        if(id==='BBvsLimp'||id==='DefendBB'||id==='Flat3B'||id==='SQZ'||id==='OS'||id==='OR'||id==='Reshove'||id==='vsOS'||id==='SBLimpia'||id==='vs3Bet'){
            divsAMostrar=[];
        }
       
        var divsAOcultar = document.getElementsByClassName("btn-group");

        for (var i = 0; i < divsAOcultar.length; i++){
            divsAOcultar[i].style.display = "none";
        }      
         document.getElementById('dInicial').style.display = "inline-block";
         
        // document.getElementById('dloquesea').style.display = "inline-block";


        var divsPadre = [];
        divsPadre = id.split(/_/);

        var divsPadreDef=[];
        
       divsPadre.forEach(item => 
           divsPadreDef.push("d"+item)                    
       );

         //divsPadreDef.forEach(item => 
         //    alert(item)
         //    //if(document.getElementById(item)){
         //   //document.getElementById(item).style.display = "inline-block"   
         //);

         divsAMostrar= divsPadreDef;

        for(var i=0;i<divsAMostrar.length;i++){
        
   
             if(document.getElementById(divsAMostrar[i])){
           document.getElementById(divsAMostrar[i]).style.display = "inline-block" ; }
            //alert(1);
        }

             
     
      //  alert(id);
        idNuevo = "d"+id;
        //alert(idNuevo);
        document.getElementById(idNuevo).style.display = "inline-block";




       // document.getElementById('dBBvsLimp').style.display = "inline-block";
        
    }     
});



function botonSeleccionado(table_id, cell_id){
    //alert(cell_id);
    //alert(table_id);

        // Select the dynamically generated div using its ID
    var $dJugadasPintadas = $('#dJugadasPintadas'+idRondaActual);

    // Append the two values using the append() method
    $dJugadasPintadas.append("R"+idRondaActual+" J"+idJugadaActual+ " "+ cell_id + " " + table_id +"\n");


};

function iniciarPartida(){


     document.getElementById('divPartida').style.display = "inline-block";
    this.iniciarRonda();
};

function iniciarRonda(){
    document.getElementById('divJugadas').style.display = "inline-block";
      $("#botonInicio").trigger("click");
};

$(document).on("click", "#bJugada" + idJugadaActual, function() {
    alert("hola");
});


</script>
}

        </html>







